Assignment 1 : Anuj Karoddeo

Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
#1
a = 'Anuj'
print(type(a))
#2
l = [123,'pw',3.14,True,[21,'Anuj',False]]
print(type(l))
#3
f = 3.1458
print(type(f))
#4
t = (784,'Friends',True,2.14)
print(type(t))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [3]:
#i
var1 = ''
print(type(var1))
#ii
var2 = '[ DS , ML , Python]'
print(type(var2))
#iii
var3 =['DS','ML','Python']
print(type(var3))
#iv
var4 = 1
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [5]:
#i
a = 20
b = 5

c = a/b
print(a,'/',b,'=',c)

#ii
d = a%b
print(a,'%',b,'=',d)

#iii
e = a//b
print(a,'//',b,'=',e)

#iv
f = a**b
print(a,'**',b,'=',f)

20 / 5 = 4.0
20 % 5 = 0
20 // 5 = 4
20 ** 5 = 3200000

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [11]:
l1 = [21,'AI','India',15.56,True,7841,1.111,['a','b','c',1,2,3],False,['abc','xyz','123',321]]
print('ELements in list :' ,len(l1))
for i in l1:
    print(i)
    print(type(i))
    print('')

ELements in list : 10
21
<class 'int'>

AI
<class 'str'>

India
<class 'str'>

15.56
<class 'float'>

True
<class 'bool'>

7841
<class 'int'>

1.111
<class 'float'>

['a', 'b', 'c', 1, 2, 3]
<class 'list'>

False
<class 'bool'>

['abc', 'xyz', '123', 321]
<class 'list'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [12]:
A = int(input("Enter a Number : "))
B = int(input("Enter a Number : "))
c = A/B
while True:
    if A%B==0:
        print(A ,"is purely divisible by",B,'by',c,"times")
    break

Enter a Number :  50
Enter a Number :  5

50 is purely divisible by 5 by 10.0 times

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [22]:
li1 = [1,2,3,4,5,6,7,8,9,10,26,27,29,30,35,69,18,45,78,95,68,36,24,52,54]
print('len of list :',len(li1))

for i in li1:
    if i%3==0:
        print(i,"is divisible by 3 ✌️")
        print('')
    else:
        print(i,"is not divisible by 3")
        print('')

len of list : 25
1 is not divisible by 3

2 is not divisible by 3

3 is divisible by 3 ✌️

4 is not divisible by 3

5 is not divisible by 3

6 is divisible by 3 ✌️

7 is not divisible by 3

8 is not divisible by 3

9 is divisible by 3 ✌️

10 is not divisible by 3

26 is not divisible by 3

27 is divisible by 3 ✌️

29 is not divisible by 3

30 is divisible by 3 ✌️

35 is not divisible by 3

69 is divisible by 3 ✌️

18 is divisible by 3 ✌️

45 is divisible by 3 ✌️

78 is divisible by 3 ✌️

95 is not divisible by 3

68 is not divisible by 3

36 is divisible by 3 ✌️

24 is divisible by 3 ✌️

52 is not divisible by 3

54 is divisible by 3 ✌️

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [24]:
''' Mutable object allows to make change its state after its cration. E.g,list'''
list1 = [1,2,3,4,5]
print(list1)

list1[1] = 21
print(list1)
print('Mutable object allows to make change its state after its cration. E.g,list')

[1, 2, 3, 4, 5]
[1, 21, 3, 4, 5]
Mutable object allows to make change its state after its cration. E.g,list

In [27]:
''' Immutable objects do not allows to make any change its state after its creation . E.g, String, Tuple'''
tuple1 = (10,11,12,13,14,15)
print(tuple1)
tuple1[2] = 200
print(tuple1)
print('Immutable objects do not allows to make any change its state after its creation . E.g, String, Tuple')

(10, 11, 12, 13, 14, 15)

TypeError: 'tuple' object does not support item assignment